@{
    ViewBag.Title = "Diagrams";
}

<h2>Boards</h2>

<p>Select a board from the list below to start</p>

<ul>
    @foreach (var board in ViewBag.Boards)
    {
        <li>
            <a href="/Diagrams/Board/@board.Id">
                @board.Name
            </a>
        </li>
    }
</ul>

<h3>Closed Boards</h3>


<ul>
    @foreach (var board in ViewBag.ClosedBoards)
    {
        <li>
            <a href="/Diagrams/Board/@board.Id">
                @board.Name
            </a>
        </li>
    }
</ul>